@font-face {
  font-family: "TNY";
  src: url("./assets/font/t.woff2") format("woff2");
}

@font-face {
  font-family: "JW";
  src: url("./assets/font/jw.woff2") format("woff2");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #151515;
  font-family: "TNY", sans-serif;
  overflow: hidden;
  font-weight: 200;
  color: #e0e0e0;
  font-size: 0.6rem;
  user-select: none;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  //remove scroll bar and prevent overscroll behavior
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  // scrollbar-width: none;
  overscroll-behavior-x: none;
}

.scrollArea::-webkit-scrollbar {
  //remove scroll bar
  // width: 0 !important;
}

//font
.JW-font {
  font-family: "JW", sans-serif;
}

//font size
.font-xsss {
  font-size: 4px;
}

.font-xss {
  font-size: 6px;
}

.font-xs {
  font-size: 8px;
}

.font-sm {
  font-size: 10px;
}
